// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)

#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// 中文(简体，中国) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDM_POPUP MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "还原所有窗口", IDM_RESTORE_ALL_WINDOWS
        MENUITEM "还原最后一个窗口", IDM_RESTORE_LAST_WINDOW
        MENUITEM "选项", IDM_OPTIONS
        MENUITEM SEPARATOR
        MENUITEM "退出", IDM_EXIT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_TRAYMOND            ICON                    "..\\icon\\traymond.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,0,0
 PRODUCTVERSION 2,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "FileDescription", "Traymond"
            VALUE "FileVersion", "2.1.0"
            VALUE "InternalName", "Traymond.exe"
            VALUE "OriginalFilename", "Traymond.exe"
            VALUE "ProductName", "Traymond"
            VALUE "ProductVersion", "2.1.0"
            VALUE "Comment", "https://github.com/tabris17/traymond"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_OPTIONS DIALOGEX 0, 0, 180, 204
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_STATICEDGE
CAPTION "Traymond 选项"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,39,184,50,14
    PUSHBUTTON      "取消",IDCANCEL,93,184,50,14
    GROUPBOX        "自定义热键",IDC_STATIC,6,6,168,105
    CONTROL         "",IDC_HOTKEY_LIST,"SysListView32",LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_REPORT | WS_BORDER | WS_TABSTOP,12,18,156,66
    CONTROL         "",IDC_HOTKEY,"msctls_hotkey32",WS_BORDER | WS_TABSTOP | WS_DISABLED,12,90,84,14
    CONTROL         "使用 Win 键",IDC_CHECK_USE_WIN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_DISABLED,102,92,58,11
    LTEXT           "最小化窗口收纳到 ",IDC_STATIC,6,124,60,10
    COMBOBOX        IDC_COMBO_HIDE_TYPE,70,122,66,120,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_TABSTOP
    CONTROL         "开机时自动运行",IDC_CHECK_AUTORUN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,143,72,11
    CONTROL         "运行期间自动最小化指定窗口",IDC_CHECK_AUTO_HIDING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,159,100,11
    PUSHBUTTON      "自定义规则",IDC_BUTTON_RULES,110,157,60,14,WS_DISABLED
END

IDD_RULES DIALOGEX 0, 0, 400, 266
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_SETFOREGROUND | DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Traymond 自定义最小化窗口规则"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "关闭",IDCANCEL,345,246,50,14, BS_FLAT
    PUSHBUTTON      "取消",IDABORT,290,246,50,14,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "帮助",IDHELP,236,246,50,14,BS_FLAT
    LISTBOX         IDC_LIST_RULES,5,5,135,235,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "新建",IDC_NEW,5,246,42,14,BS_FLAT
    PUSHBUTTON      "保存",IDC_SAVE,51,246,42,14,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "删除",IDC_REMOVE,97,246,42,14,BS_FLAT | WS_DISABLED
    LTEXT           "规则名称:",IDC_STATIC,145,8,264,10
    EDITTEXT        IDC_EDIT_NAME,145,20,250,14,ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "选择一个已最小化的窗口:",IDC_STATIC,145,40,264,10
    COMBOBOX        IDC_COMBO_WINDOWS,145,52,250,200,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_TABSTOP | WS_DISABLED
    CONTROL         "最小化窗口时显示通知",IDC_CHECK_SHOW_NOTIFICATION,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_DISABLED,145,70,100,12
    GROUPBOX        "窗口标题",IDC_STATIC,145,88,250,45
    EDITTEXT        IDC_EDIT_TEXT,153,102,235,14,ES_AUTOHSCROLL | WS_DISABLED
    CONTROL         "正则匹配",IDC_CHECK_REGEX_TEXT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_DISABLED,153,117,71,12
    GROUPBOX        "窗口类名",IDC_STATIC,145,141,250,45
    EDITTEXT        IDC_EDIT_CLASS,153,155,235,14,ES_AUTOHSCROLL | WS_DISABLED
    CONTROL         "正则匹配",IDC_CHECK_REGEX_CLASS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_DISABLED,153,170,71,12
    GROUPBOX        "程序路径",IDC_STATIC,145,195,250,45
    EDITTEXT        IDC_EDIT_PATH,153,209,235,14,ES_AUTOHSCROLL | WS_DISABLED
    CONTROL         "正则匹配",IDC_CHECK_REGEX_PATH,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_DISABLED,153,224,71,12
END

IDD_ICONS DIALOGEX 0, 0, 120, 100
STYLE DS_SETFONT | DS_CENTERMOUSE | DS_SETFOREGROUND | DS_SHELLFONT | WS_POPUP
FONT 12, "MS Shell Dlg", 400, 0, 0x1
CLASS POPUP_CLASS
BEGIN
    CONTROL         "",IDC_ICON_LIST,"SysListView32",LVS_SINGLESEL | LVS_ALIGNLEFT | LVS_REPORT | LVS_NOCOLUMNHEADER | WS_BORDER | WS_TABSTOP,0,0,120,100
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_OPTIONS, DIALOG
    BEGIN
        LEFTMARGIN, 6
        RIGHTMARGIN, 177
        VERTGUIDE, 14
        VERTGUIDE, 167
        TOPMARGIN, 7
        BOTTOMMARGIN, 183
    END

    IDD_RULES, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 406
        TOPMARGIN, 7
        BOTTOMMARGIN, 259
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_OPTIONS AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_RULES AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_ICONS AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // 中文(简体，中国) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

